<%- include('partials/_header'); %>
   <%- include('partials/_navigation'); %>

      <div class="all-title-box">
         <div class="container text-center mt-5">
            <h1>Courses</h1>
         </div>
      </div>

      <div id="overviews" class="section wb">
         <div class="container">
            <div class="row">
               <div class="col-lg-9 blog-post-single">
                  <!-- alert messages -->
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-12">
                        <div class="course-item mb-5">
                           <div class="image-blog">
                              <img src="images/tra0.jpg" alt="" class="img-fluid">
                           </div>
                           <div class="course-br">
                              <div class="course-title">
                                 <h2><a href="#" title="">Course Name</a></h2>
                              </div>
                              <div class="course-desc">
                                 <p>Course Description</p>
                              </div>
                           </div>
                           <div class="course-meta-bot">
                              <ul>
                                 <li><i class="fa fa-user" aria-hidden="true"></i> Course Created Name</li>
                              </ul>
                           </div>
                        </div>
                     </div><!-- end col -->
                  </div><!-- end row -->

               </div><!-- end col -->
               <div class="col-lg-3 col-12 right-single">
                  <div class="widget-search">
                     <div class="site-search-area">
                        <form method="GET" id="site-searchform" action="/courses">
                           <div>
                              <input class="input-text form-control" name="search" id="search-k" placeholder="Search..."
                                 type="text">
                              <button id="searchsubmit" value="Search" type="submit"></button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div><!-- end row -->
         </div><!-- end container -->
      </div><!-- end section -->


      <%- include('partials/_footer'); %>